body {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: gilroy-bold;
  src: url(../src/Fonts/gilroy/Gilroy-Bold.ttf);
}
@font-face {
  font-family: poppins-regular;
  src: url(../src/Fonts//Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: poppins-medium;
  src: url(./Fonts/Poppins/Poppins-Medium.ttf);
}
:root{
  --primary-color: #2354D4;
  --secondary-color : #F3F6FB;
}